<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js" integrity="sha512-REb0S2epbS0XtS28ifNa1haxmTZigXjB+Tx5IHCvXZndWB2RL431Vt1qONzFoe0dPwA8WGow+xxkQwhVr44nRg==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :src="image" :alt="product">
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="onSale"><b>Currently on sale!</b></p>
            <p>Here we go the {{ description + "!" }}</p>
            <p v-if="inventory > 10">In stock</p>
            <p v-else-if="inventory > 0">Almost sold out!</p>
            <p v-else>Out of stock</p>
<!--            <p v-show="inventory > 0">It's in stock!</p>-->
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <div v-for="variant in variants" :key="variant.id">
              {{ variant.color }}
            </div>
            <p>Available sizes:</p>
            <ul>
              <li v-for="size in sizes" :id="size">{{ size }}</li>
            </ul>

          </div>
        </div>
      </div>
      <p class="credits">Based on <a :href="credits.url" target="_blank" rel="noreferrer nofollow noopener">{{ credits.title }}</a> course!</p>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

<!--  Mount App-->
    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
